blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: -10px;
    padding: 10px;
    background-color: var(--blockquote-background-color-light);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: var(--blockquote-headline-color-dark);
    display: block;
}

@media (prefers-color-scheme: dark) {
    
    blockquote {
        background-color: var(--blockquote-background-color-dark);
    }
}
