header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--header-background-color-light);
    background-position: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 400px;
    line-height: 1.5em;
    padding: 0 20px;
/*    height: 350px;*/
}

header a {
    display: inline-block;
    text-decoration: none;
}

header h2 {
    /* margin-top: 80px; */
    font-size: 65px;
    color: #ffffff;
}

header nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

header nav a {
    display: block;
    color: #cacaca;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}

header nav a:hover {
    color: #fff;
    /* background-color:var(--healthnote-green); */
}

header nav .selected {
    color: #fff;
    /* background-color: var(--healthnote-green); */
}



header nav .search a {
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-size: 65% 65%;
    background-position: center center;
    width: 34px;
    color: transparent !important;
    user-select: none;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0 0px 0;
    text-align: center;
    background-color: #00000000;
}

.headerLogo {
    width: 100px;
    height: 100px;
/*    max-width: 100%;*/
    /* margin-top: 50px; */
    text-align: center;
    margin-top: 30px;
}

.headerLogo img {
/*    object-fit: contain;*/
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

/* Header 的社交图标*/
.headerIcons {
    display: block;
    margin-top: 20px
    /* opacity: 0.6; */
}

.headerIcons a {
    color: blue;
}

.headerIcons .icon {
    padding: 0 18px 0 18px;
    font-size: 30px;
    width: 24px;
    height: 24px;
    position: relative;
}

.headIconWeixin {
    background-image: url('/img/whiteWeixin.svg');
    background-size: 21px 21px;
    background-repeat: no-repeat;
}

/* 头部的微信公共号 */
.weixinHeadQcode {
    position: relative;
    width: 400px;
    height: 246px;
    background-image: url("/img/weixincode.jpg");
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 9999;
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.headIconTwitter {
    background-image: url('/img/whiteTwitter.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.headIconEmail {
    background-image: url('/img/whiteEmail.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.headIconGithub {
    background-image: url('/img/whiteGithub.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.headIconZhihu {
    background-image: url('/img/whiteZhihu.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.headIconRss {
    background-image: url('/img/whiteRss.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.headerSections {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .headerLogo {
        display: none;
    }
    
    .headerIcons {
        display: none;
    }
}

@media (max-width: 450px) {
/*    header .logo img {*/
/*        padding: 80px 0px 20px 0px;*/
/*        width: 320px;*/
/*    }*/
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: var(--header-background-color-dark);
    }

}
